- var linksArr = [{name: 'О нас',links:[{name: 'История РЦИТ',url: '#'},{name: 'Политика РЦИТ',url: '#'},{name: 'Достижения',url: '#'},{name: 'Реализованные проекты',url: '#'},{name: 'Штаб ЦТ',url: '#'},{name: 'Контакты',url: '#'},{name: 'Документы',url: '#'}]},{name: 'Услуги',links:[]},{name: 'Сервисы',links:[{name: 'Календарь видеоконференции связи с районами',url: '#'},{name: 'Реестр ГИС',url: '#'},{name: 'Сервис электронной почты',url: '#'}]},{name: 'Пресс-центр',links:[{name: 'Новости',url: '#'},{name: 'Объявления',url: '#'}]},{name: 'Техническая поддержка',links:[{name: 'Порядок и способ обращения в техподдержку',url: '#'},{name: 'FAQ',url: '#'},{name: 'Регламенты и инструкции',url: '#'},{name: 'Портал технической поддержки',url: '#'}]},{name: 'Телефонный справочник',links:[]}]

header(class="header-main")
  .header__top
    .index-wrap
      .header__wrap
        a(href="#").header__logo
          +icon('logo','header__logo-image')
        .header__options
          a(href="#" class="header__btn hidden-l")
            span Для физических лиц
          a(href="#" class="header__btn hidden-l")
            span Для юридических лиц
          .header__search.hidden-l
            input(type="text" placeholder="Поиск").header__search-input
            .header__search-btn
              +icon('search-normal','header__search-btn-icon')
          a(href="#").header__a11y.hidden-l
            .header__a11y-text.visible-l
              span Версия для слабовидящих
            .header__a11y-icon
              +icon('akar-icons_glasses')
          .header__btn-user
            +icon('profile')
          .header__menu-btn.visible-l
            +icon('menu-header')
  .header__mid
    .index-wrap.header__mid-wrap
      .header__lines.hidden-l
      nav.header__menu-links.hidden-l
        ul
          each link, index in linksArr
            if link.links.length > 0
              li
                div(tabindex=0).header__menu-links-link
                  .header__menu-links-link-first
                    a(href=link.links[0].url aria-role="menuitem" aria-haspopup="true").header__links-text=link.name
                    .header__menu-links-link-second
                      .header__menu-links-link-second-wrap
                        ul
                          each ll in link.links
                            li
                              a(href="ll.url" aria-role="menuitem")
                                .header__menu-links-link-second-name=ll.name
            else
              li
                a(href="#").header__menu-links-link
                  span.header__links-text=link.name
      .header__search.visible-l-flex
        input(type="text" placeholder="Поиск").header__search-input
        .header__search-btn
          +icon('search-normal','header__search-btn-icon')
  .header__bottom
    .index-wrap
      .header__notifications
        .swiper.header__notifications-swiper
          .swiper-wrapper.header__notifications-swiper-wrapper
            .swiper-slide.header__notifications-swiper-slide
              p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00 запланировано проведение регламентных работ программно-аппаратного комплекса обеспечения информационной безопасности
            .swiper-slide.header__notifications-swiper-slide
              p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00 запланировано проведение регламентных работ программно-аппаратного комплекса обеспечения информационной безопасности
  .header__burger-inside
    .header__burger-inside-head.index-wrap
      .header__burger-inside-head-left
        a(href="#" class="header__btn")
          span Для физических лиц
        a(href="#" class="header__btn")
          span Для юридических лиц
      .header__burger-inside-head-right
        a(href="#").header__a11y
          .header__a11y-icon
            +icon('akar-icons_glasses')
        .header__btn-user
          +icon('profile')
        .header__burger-inside-close
          +icon('header-burger-x')
    .header__burger-inside-main.index-wrap
      .header__burger-inside-main-logo.visible-xm
      nav.header__burger-inside-main-menu
        ul.header__burger-inside-main-menu-ul
          each tt in linksArr
            if tt.links.length > 0
              li
                .header__burger-inside-main-menu-first
                  .header__burger-inside-main-menu-first-name
                    +icon('arrow-down')
                    span=tt.name
                  .header__burger-inside-main-menu-second
                    ul
                      each link in tt.links
                        li
                          a(href="link.url")
                            span=link.name
            else
              li
                .header__burger-inside-main-menu-first-name
                  a(href="#")
                    span=tt.name
